{{ ansible_managed | comment }}

[Unit]
Description=Confluence
After=network.target

[Service]
Type=forking
User={{ confluence_user }}
PIDFile={{ __confluence_root_path }}/work/catalina.pid
ExecStart={{ __confluence_root_path }}/bin/start-confluence.sh
ExecStop={{ __confluence_root_path }}/bin/stop-confluence.sh

[Install]
WantedBy=multi-user.target
