{{ ansible_managed | comment }}
[Unit]
Description=Confluence
After=network.target

[Service]
Type=forking
User={{ confluence_username }}
PIDFile={{ _confluence_application_path }}/work/catalina.pid
ExecStart={{ _confluence_application_path }}/bin/start-confluence.sh
ExecStop={{ _confluence_application_path }}/bin/stop-confluence.sh

[Install]
WantedBy=multi-user.target